body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Bangers', cursive;
}

/* h1 {
  color: black;
  margin-top: 0;
  padding: 0;
} */

#LambPic {
  height: 150px;
  width: 100px;
  margin-top: 80px;
  margin-left: 20px;
}

.Home {

  height: 300px;
  width: 800px;
  margin-left: 15%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  border: 20px solid #4BA2BD;
  margin: 0 auto;
  margin-top: 20px;
}

#backgroundPic {
  height: 300px;
  width: 500px;
}

.indexHeader {
  text-align: center;
  font-size: 7vw;
  margin-top: 40px;
}

h1 {
  font-size: 35px;
  margin-top: 80px;
  padding: 0;
  margin-right: 30px;
 
}

.rightSideBox {
  display: flex;
  margin-left: 0;
  width: 50%
}

div.text {
  width: 60%;
}

.Index {
  height: 300px;
  width: 100%;
}

img {
  height: 120px;
  width: auto;
}

.tableData {
  transition: 1.5s;
  background-color: lightgray;
  font-size: 25px;
}

.tableData:hover {
  transform: scale(1.1);
  background-color: #4BA2BD;
}

table {
  margin-top: 20px;
}

.tableDiv {
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
  width: 70vw;
}

th, td {
  text-align: center;
  margin: 0;
}

/* td {
  border-spacing: 20px;
  border: none;
} */

th {
  font-size: 2vw;
}

td {
  font-size: 1.5vw;
}

button.homeButton {
  background-color: #FCBD8C;
  border-radius: 4px;
  font-size: 10px;
  color: #253642;
  text-align: center;
  transition: 0.5s;
  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
}

button.homeButton:hover {
  background-color: #FFD7A6;
  color: #4BA2BD;
  transform: scale(1.1);
}

.addMovie , form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#message_1 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

#message_2 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

input {
  border: 2px solid #4BA2BD;
  border-radius: 4px;
  margin: 5px;
  height: 20px;
  width: 200px;
  outline: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

input:focus {
 
  background: #4BA2BD;
  color: white;
  transform: scale(1.2);
}

/* input:hover {
  background: lightgrey;
} */

form {
  margin-top: 10px;
}

button.formButton {
  background: #4BA2BD;
  border-radius: 4px;
  margin-top: 20px;
  transition: 0.5s;
  width: fit-content;
  outline: none;
  font-size: 20px;
  color: white;
}

button.formButton:hover {
  transform: scale(1.2);
  background: #4BA2BD;
  color: white;
  outline: none;
  width: fit-content;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.editButton {
  border: 3px solid grey;
  border-radius: 4px;
  color: black;
  width: 3vw;
  height: 3vw;
}

button.editButton:hover {
  border: 3px solid grey;
  border-radius: 4px;
  background: white;
  color: black;
  transform: scale(1.1);
}

img.editIcon {
  height: 1.2vw;
}

button.deleteButton {
  border: 3px solid red;
  border-radius: 4px;
  color: black;
  width: 3vw;
  height: 3vw;
}

button.deleteButton:hover {
  border: 3px solid red;
  border-radius: 4px;
  background: white;
  color: black;
  transform: scale(1.1);
}

.Edit {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.selectedMovieToEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3vw;
  padding: 10px;
}

.selectedMovie {
  width: fit-content;
}

img.selectedImage {
  height: 30vw;;
  width: auto;
}

.movieHeaderFont {
  font-size: 5vw;
}

/* div.movieDetails {
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
} */

div.editMovieDetails {
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(41, 180, 223);
  font-size: 20px;
}

button.addMovieButton {
  border: 2px solid #4BA2BD;
  border-radius: 4px;
  transition: 0.5s;
  width: fit-content;
  outline: none;
  margin-right: 10px;
  display: block;
  position: fixed;
  top: 20px;
  right: 0;
}

button.addMovieButton:hover {
  transform: scale(1.1);
  color: white;
  outline: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 1280px) {
  button.addMovieButton {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    display: block;
  }
}

button.backButton {
  border: 2px solid #4BA2BD;
  background: white;
  border-radius: 4px;
  transition: 0.5s;
  width: fit-content;
  outline: none;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

button.backButton:hover {
  transform: scale(1.1);
  color: white;
  outline: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.SearchBar {
  margin-top: 1vw;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
}

button.searchButton {
  width: fit-content;
  border: 2px solid #4BA2BD;
  border-radius: 4px;
  
}