body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Bangers', cursive;
}

h1 {
  color: black;
  margin-top: 0;
  padding: 0;
}

#LambPic {
  height: 150px;
  width: 100px;
  margin-top: 80px;
  margin-left: 20px;
}

.Home {

  height: 300px;
  width: 1000px;
  margin-left: 15%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  border: 20px solid #4BA2BD;
}

#backgroundPic {
  height: 300px;
  width: 500px;
}

.indexHeader {
  text-align: center;
}

h1 {
  font-size: 35px;
  margin-top: 80px;
  padding: 0;
  margin-right: 30px;
 
}

.rightSideBox {
  display: flex;
  margin-left: 0;
  width: 80%
}

.text {
  width: 60%;
}

.Index {

  height: 300px;
  width: 100%;
}

.indexHeader {
  height: 80px;
  width: 100%;
  background-color: #4BA2BD;
  margin-top: 50px;
}

img {
  height: 120px;
  width: auto;
}

.tableData {
  transition: 2s;
  background-color: lightgray;
}

.tableData:hover {
  transform: scale(1.2);
  background-color: #4BA2BD;
}

table {
  margin-top: 20px;
}

.tableDiv {
  display: flex;
  justify-content: center;
}

table {
  /* border: 1px solid black;
  border-radius: 25px; */
  text-align: center;
}

th, td {
  text-align: center;
  padding: 15px;
}

th {
  font-size: 40px;
}

#homeButton {
  background-color: #FCBD8C;
  position: relative;
  border: none;
  font-size: 18px;
  color: #253642;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: 0.5s;
}

#homeButton:hover {
  background-color: #FFD7A6;
  color: #4BA2BD;
}

.addMovie , form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#message_1 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#message_2 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  border: 2px solid #4BA2BD;
  border-radius: 4px;
  margin: 5px;
  height: 20px;
  width: 200px;
  outline: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

input[type=text]:focus {
 
  background: #4BA2BD;
  color: white;
  transform: scale(1.2);
}

input:hover {
  background: lightgrey;
}

form {
  margin-top: 10px;
}

button {
  border: 2px solid #4BA2BD;
  border-radius: 4px;
  margin-top: 20px;
  transition: 0.5s;
  width: 100px;
  height: 40px;
  outline: none;
}

button:hover {
  border: 2px solid grey;
  transform: scale(1.2);
  background: #4BA2BD;
  color: white;
  outline: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.editButton {
  border: 3px solid grey;
  color: black;
}

.editButton:hover {
  border: 3px solid grey;
  background: white;
  color: black;
  transform: scale(1.05);
}

.deleteButton {
  border: 3px solid red;
  color: black;
}

.deleteButton:hover {
  border: 3px solid red;
  background: white;
  color: black;
  transform: scale(1.05);
}

.Edit {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectedMovieToEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 30px;
}

.selectedMovie {
  width: fit-content;
}

img.selectedImage {
  height: 300px;
  width: auto;
}

div.movieTitle {
  font-size: 80px;
}

div.editMovieDetails {
  font-size: 40px;
}