

h1 {
  color: black;
}

#LambPic {
  height: 150px;
  width: 100px;
  margin-top: 80px;
  margin-left: 20px;
}

.Home {

  height: 300px;
  width: 1000px;
  margin-left: 15%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  border: 20px solid #4BA2BD;
}

#backgroundPic {
  height: 300px;
  width: 500px;

}

h1 {
  font-size: 35px;
  margin-top: 80px;
  padding: 0;
  margin-right: 30px;
 
}

.rightSideBox {
  display: flex;
  margin-left: 0;
  width: 80%
}

.text {
  width: 60%;
}